[Unit]
Description=Timer for battery notifications
Requires=battery-notifications.service

[Timer]
# Start 1 minute after boot...
OnBootSec=1m
# ...and again every minute after `battery-notifications.service` runs
OnUnitActiveSec=2m

[Install]
WantedBy=timers.target

